[Unit]
Description=CentralHub.Api
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/centralhub-api --urls http://0.0.0.0:8081
WorkingDirectory=/opt/centralhub/api/
StateDirectory=centralhub-api
DynamicUser=yes
PrivateDevices=yes
PrivateUsers=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target

