[Unit]
Description=CentralHub.Api
After=network.target
Wants=network.target

[Service]
Type=notify
ExecStart=/usr/bin/centralhub-api --urls http://0.0.0.0:8081
WorkingDirectory=/usr/lib/centralhub-api/
StateDirectory=centralhub-api
Restart=always
RestartSec=10
DynamicUser=yes
CapabilityBoundingSet=
SystemCallArchitectures=native
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@privileged
SystemCallFilter=~@reboot
SystemCallFilter=~@swap
# We cannot do anything about this as we need to access the parent pid to check for systemd
ProtectProc=default
ProtectHome=yes
PrivateDevices=yes
PrivateUsers=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
# Used for systemd integration
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target

