[Unit]
Description=CentralHub.WebUI
After=centralhub-api.service
Wants=centralhub-api.service

[Service]
ExecStart=/usr/bin/centralhub-webui --urls http://0.0.0.0:8080
WorkingDirectory=/opt/centralhub/webui/
StateDirectory=centralhub-webui
DynamicUser=yes
CapabilityBoundingSet=
SystemCallArchitectures=native
ProtectProc=invisible
PrivateDevices=yes
PrivateUsers=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target

